<a href="https://colab.research.google.com/github/danilo-sgalvao/ip-2024-01/blob/main/lista_1_jacson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Questão 1

Leia (N1 N2 N3)

x <-(N1 + N2 + N3)/3

MEDIA = x

se MEDIA >= 6.0

 Escreva (MEDIA)
 Escreva (APROVADO)

senão

 Escreva (MEDIA)
 Escreva (REPROVADO)

Questão 2

Leia (numero de jogos)

n<-0

Enquanto (n<numero de jogos)

Leia (publicoGeral, porcentagemPopular, porcentagemGeral, porcentagemArquibancada, porcentagemCadeiras)
RendaTotal = (publicoTotal*porcentagemPopular*1) + (publicoTotal*porcentagemGeral*5) + (publicoTotal*porcentagemArquibancada*10) + (publicoTotal*porcentagemCadeiras*20)
Escreva (rendaTotal)

n<-n+1

Questão 3

Leia (n1,n2,n3)

se n1<10, n2<10, n3<10

Escreva (n1n2n3)

quadrado = n1n2n3*n1n2n3

Escreva (quadrado)

senão
Escreva (DIGITO INVALIDO)

Questão 4

Leia (salarioMinimo)

Leia (consumo)

custoKwH = salarioMinimo*7/1000

Escreva (Custo por KwH: R$custoKwH)

Escreva (Custo do consumo: custoKwH*consumo)

Escreva (Custo com desconto: custoKwH*consumo *9/10)

Questão 5

Leia (contaDoCliente)

Leia (consumo)

Leia (tipoDeConsumidor)

se tipoDeConsumidor = residencial

Escreva (contaDoCliente consumo*0,05+5 R)

se tipoDeConsumidor = comercial
  extra = consumo-80
  extra>=0

Escreva (contaDoCliente 500+extra*0,25 C)

se tipodesConsumidor = industrial
  extra = consumo-100
  extra>=0
EScreva (contaDoCliente 800+extra*0,04 I)

Questão 6

Leia (temperaturaFahrenheit)

tCelsius = (temperaturaFahrenheit-32)*5/9

Escreva (temperaturaFahrenheit FAHRENHEIT EQUIVALE A tCelsius CELSIUS)

Questão 7

Leia (temperaturaFahrenheit)

Leia (quantidadeDeChuva)

tCelsius = (temperaturaFahrenheit-32)*5/9
Chuvamm = quantidadeDeChuva*25,4

Escreva (O VALOR EM CELSIUS = tCelsius)
Escreva (A QUANTIDADE DE CHUVA E = Chuvamm)

Questão 8

Leia (raio)

Leia (altura)

pi = 3.14159

areaTotal = 2*pi²+2*pi *raio *altura

Escreva (O VALOR DO CUSTO E = areaTotal*100)

Questão 9

Leia (coefA)

Leia (coefB)

Leia (coefC)

Delta = coefB² - 4*coefA *coefC

Escreva (O VALOR DE DELTA E = Delta)

Questão 10

Leia (a,b,c,d)

det = a*d-b*c

Escreva (O valor do determinante e = det)

Questão 11

Leia (n)

se n for divisivel por 3 e por 5

Escreva (NUMERO E DIVISIVEL)

senao

Escreva (NUMERO NAO E DIVISIVEL)

Questão 12

Leia (horas)

r = resto da divisão

valor = horas/3*10+r *5

Escreva (O VALOR A PAGAR E = valor)

Questão 13

Leia (nota)

se 0<=nota<6.0

Escreva (nota D)

se 6<=nota<7.5

Escreva (nota C)

se 7.5<=nota<9.0

Escreva (nota B)

se 9.0<=nota<=10

Escreva (nota A)

Questão 14

Leia (altura)

Leia (aresta)

volume = 1/3* 3* aresta² *√3/2 *altura

Escreva (O VOLUME DA PIRAMIDE E = volume METROS CUBICOS)

Questão 15

Leia (n)

i = 1

x = 2

enquanto i<n y = x*x

imprima (f" {x}^2 = {y}")

x = x + 2

i = i +1

Questão 16

Leia (salario)

se salario<=300

salario2 = salario*3/2

Escreva (SALARIO COM REAJUSTE = salario2)

senao

salario3 = salario *13/10

Escreva (SALARIO COM REAJUSTE = salario3)

Questão 17

Leia (x,y)

i = i +1

x = x+2

Questão 18

❌

Questão 19

❌

Questão 20

Leia (horas)

Leia (minutos)

Leia (segundos)

tseg = horas*3600+minutos *60+segundos

Escreva (O TEMPO EM SEGUNDOS E = tseg)